{% extends "base_generic.html" %}
{% load staticfiles %}
{% block title %} <title> Главная </title> {% endblock %}
{% block static %}<link rel="stylesheet" href="/static/css/styles.css">{% endblock %}

{% block content %}


<div class="graficlogo"><img src="{% static 'images/logo1beta.png' %}" alt="Logo"></div>
    <form action="" method="post">
        <table>
        {% csrf_token %}
        {{ form }}
        </table>
        <!--action="'http://{{url_host}}'-->
        <input type="submit" class="button" value="Название кнопки" onclick="location.href='http://{{url_host}}'" />
    </form>
{% endblock %}

